@use 'partial';

/*3.general*/
/*4.navigation*/
/*5.logo*/
/*6.header, main og footer grid*/
    /*6.1.header*/
    /*6.2.main*/
    /*6.3.footer*/
/*7.mobil responsiv*/
/*tableof content - slut*/

/*3.general*/
*{
    margin: 0px;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
a{
    font-family: partial.$secondary-font;
}
h1{
    font-size: 5vw;
}
h2{
    font-size: 4vw;
}
.pri-h{
    font-family: partial.$primary-font;
    color: partial.$secondary-color;
    background-color: partial.$primary-color;
    text-align: center;
    min-width: 68vw;
    padding: 3vw;
}
.alt-h{
    font-family: partial.$tertiery-font;
    color: partial.$primary-color;
    font-size: 8vw;
}
h3{
    background-color: partial.$primary-color;
    font-family: partial.$secondary-font;
    font-size: 2vw;
    min-width: 68vw;
    padding: 3vw;
}
p{
    font-family: partial.$secondary-font;
    font-size: 1.5vw;
    color: partial.$secondary-color;
    line-height: 3.5vw;
    background-color: partial.$primary-color;
    text-align: justify;
    padding: 5vw;
}
/*4.navigation*/
div.top-bg{
    background-color: partial.$tertiery-color;
    width: 100vw;
    height: 12vw;
    position: fixed;
    top: 0;
    z-index: -1;
}
.burger-nav{
    width: 5vw;
    height: auto;
    font-size: 5vw;
    color: partial.$primary-color; 
    cursor: pointer;  
    margin: 0 0 0 3vw;
    position: fixed;
    top: 3vw;
    z-index: 1;
}
.hidden-nav{
    display: none; 
    width: 40vw;
    height: fit-content; 
    background-color: partial.$tertiery-color;
    position: fixed;
    top: 10vw; 
    border-radius: 0 0 2VW 0;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 2; 
    a{
        width: fit-content;
        height: auto;
        font-size: 3vw;
        color: partial.$primary-color;
        line-height: 7.5vw; 
        text-decoration: none;   
        margin: 0 0 0 3vw !important;
        &:hover{
            text-transform: uppercase;
        }
        &.active{
            text-decoration: underline;
        }
    }
}
.toggleShow{
    display: flex !important; 
    flex-direction: column; 
}
/*5.logo*/
.logo{
    font-family: partial.$primary-font;
    font-size: 7vw;
    color: partial.$primary-color;
    text-decoration: none;
    position: relative;
    top: 1.5vw;
    left: 60vw;
    z-index: 1;
}
/*6.header, main og footer grid*/
.grid-container{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 0;
    display: grid;
    grid-template-rows: 38vw auto auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}
/*6.1.header*/
header{
    grid-area: header;
    background-image: url(../Img/dogs_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*6.2.main*/
main{
    grid-area: main;  
}
.sec-col-1{
    
    @include partial.flex();
    flex-direction: column;
    *{
        max-width: 68VW;
    }
    div{
        width: 100%;
        height: fit-content;
        padding: 0 0 !important;
        @include partial.flex($align:flex-end);
        flex-direction: column;
        a{
            @include partial.btn();          
        } 
    }
}
.sec-img{
    img{
        width: 100vw;
        height: auto;
    }
}
.sec-col-1-alt{
    @include partial.flex();
    flex-direction: column;
    button:first-of-type{
        margin-top: 0 !important;
    }
    button{
        margin-top: 5vw;
        margin-left: 3vw;
    }
    .picker-container{
        background-color: white;
    }
}
.collapsible{
    @include partial.btn();
    width: 90%;
    text-align: left;
    border-radius: 1vw 1vw 0 0 !important;
    border: none !important;
}
.collapsible:after{
    content: '\002B';
    color: partial.$primary-color;
    font-weight: bold;
    float: right;
    margin-left: 5px;  
}
.active-picker:after{
    content: "\2212";
    }
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: right !important;
}
.vet{
    background-image: url(../Img/dog_vet.svg);
}
.training{
    background-image: url(../Img/dog_training.svg);  
}
.food{
    background-image: url(../Img/dog_eating.svg);  
}
.etiquette{
    background-image: url(../Img/dog_peeing.svg);
}
.dog-lang{
    background-image: url(../Img/dog_howling.svg);
    h2{
        margin-left: 0 !important;
    }
    img{
        margin-top: 63vw;
        width: 100%;
        height: auto;
    }
}
.sec-bg-img{
    background-repeat: no-repeat;
    background-size: 100vw; 
}
.no-pad{
    h2{
        margin-left: 25vw;
    }  
    ul{
        margin-top: 65vw;
        padding: 0;
        li{
            list-style-type: none;
            p{
                padding-top: 1vw !important;
                padding-bottom: 1vw !important;
            }
        }
    }    
}
/*6.3.footer*/
footer{
    grid-area: footer;
    background-color: partial.$tertiery-color;
    padding: 3vw 0 !important;
    @include partial.flex($justify: flex-end);
    a{
        @include partial.btn($bg-color: partial.$primary-color, $font-color: partial.$secondary-color);
        &:hover{
            color: partial.$tertiery-color;
        } 
    }  
}
/*7.mobil responsiv*/
@media only screen and (max-width: 600px){
    p{
        font-size: 3.5vw;
        line-height: 6vw;
    }
    div.top-bg{
        height: 14vw;
    }
    .burger-nav{
        font-size: 8vw;
    }
    .hidden-nav{
        top: 14vw;
    }
}