@use 'partial';

/*3.general*/
/*4.navigation*/
/*5.logo*/
/*6.header, main og footer grid*/
    /*6.1.header*/
    /*6.2.main*/
    /*6.3.footer*/
/*tableof content - slut*/
/*3.general*/
*{
    margin: 0px;
    box-sizing: border-box;
}
a{
    font-family: partial.$secondary-font;
}
h1{
    font-size: 5vw;
}
h2{
    font-size: 5vw;
}
.pri-h{
    font-family: partial.$primary-font;
    color: partial.$secondary-color;
    background-color: partial.$primary-color;
    text-align: center;
    min-width: 68vw;
    padding: 3vw;
}
p{
    font-family: partial.$secondary-font;
    font-size: 2vw;
    color: partial.$secondary-color;
    line-height: 3.5vw;
    background-color: partial.$primary-color;
    text-align: justify;
    padding: 5vw;
}
/*4.navigation*/
div.top-bg{
    background-color: partial.$tertiery-color;
    width: 100vw;
    height: 12vw;
    position: fixed;
    top: 0;
    z-index: -1;
}
.burger-nav{
    width: 5vw;
    height: auto;
    font-size: 5vw;
    color: partial.$primary-color; 
    cursor: pointer;  
    margin: 0 0 0 3vw;
    position: fixed;
    top: 3vw;
    z-index: 1;
}
.hidden-nav{
    display: none; 
    width: 30vw;
    height: fit-content; 
    background-color: partial.$tertiery-color;
    position: fixed;
    top: 10vw; 
    border-radius: 0 2vw 2vw 0;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 2; 
    a{
        width: fit-content;
        height: auto;
        font-size: 3vw;
        color: partial.$primary-color;
        line-height: 7.5vw; 
        text-decoration: none;   
        margin: 0 0 0 3vw !important;
        &:hover{
           color: partial.$secondary-color; 
        }
        &.active{
            text-decoration: underline;
        }
    }
}
.toggleShow{
    display: flex !important; 
    flex-direction: column; 
}
/*5.logo*/
.logo{
    font-family: partial.$primary-font;
    font-size: 7vw;
    color: partial.$primary-color;
    text-decoration: none;
    position: relative;
    top: 1.5vw;
    left: 60vw;
    z-index: 1;
}
/*6.header, main og footer grid*/
.grid-container{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 0;
    display: grid;
    grid-template-rows: 38vw auto auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}
/*6.1.header*/
header{
    grid-area: header;
    background-image: url(../Img/dogs_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*6.2.main*/
main{
    grid-area: main;   
}
.sec-col-1{
    @include partial.flex();
    flex-direction: column;
    div{
        width: 100%;
        height: fit-content;
        padding: 0 0 !important;
        @include partial.flex($align:flex-end);
        flex-direction: column;
        a{
            @include partial.btn();          
        } 
    }
}
.sec-img{
    img{
        width: 100vw;
        height: auto;
    }
}
/*6.3.footer*/
footer{
    grid-area: footer;
    background-color: partial.$tertiery-color;
    padding: 3vw 0 !important;
    @include partial.flex($justify: flex-end);
    a{
        @include partial.btn($bg-color: partial.$primary-color, $font-color: partial.$secondary-color);
        &:hover{
            color: partial.$tertiery-color;
        } 
    }  
}

