@charset "UTF-8";
/*table of content*/
/*1.variabler partial*/
/*2.Mixins partial*/
/*3.general*/
/*4.navigation*/
/*5.logo*/
/*6.header, main og footer grid*/
/*6.1.header*/
/*6.2.main*/
/*6.3.footer*/
/*7.mobil responsiv*/
/*tableof content - slut*/
/*3.general*/
* {
  margin: 0px;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  font-family: "armata";
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
}

.pri-h {
  font-family: "architects daughter";
  color: #000;
  background-color: #fff;
  text-align: center;
  min-width: 68vw;
  padding: 3vw;
}

.alt-h {
  font-family: "berlin sans fb demi";
  color: #fff;
  font-size: 8vw;
}

h3 {
  background-color: #fff;
  font-family: "armata";
  font-size: 2vw;
  min-width: 68vw;
  padding: 3vw;
}

p {
  font-family: "armata";
  font-size: 1.5vw;
  color: #000;
  line-height: 3.5vw;
  background-color: #fff;
  text-align: justify;
  padding: 5vw;
}

/*4.navigation*/
div.top-bg {
  background-color: #5B2E10;
  width: 100vw;
  height: 12vw;
  position: fixed;
  top: 0;
  z-index: -1;
}

.burger-nav {
  width: 5vw;
  height: auto;
  font-size: 5vw;
  color: #fff;
  cursor: pointer;
  margin: 0 0 0 3vw;
  position: fixed;
  top: 3vw;
  z-index: 1;
}

.hidden-nav {
  display: none;
  width: 40vw;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #5B2E10;
  position: fixed;
  top: 10vw;
  border-radius: 0 0 2VW 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 2;
}
.hidden-nav a {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  font-size: 3vw;
  color: #fff;
  line-height: 7.5vw;
  text-decoration: none;
  margin: 0 0 0 3vw !important;
}
.hidden-nav a:hover {
  text-transform: uppercase;
}
.hidden-nav a.active {
  text-decoration: underline;
}

.toggleShow {
  display: flex !important;
  flex-direction: column;
}

/*5.logo*/
.logo {
  font-family: "architects daughter";
  font-size: 7vw;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 1.5vw;
  left: 60vw;
  z-index: 1;
}

/*6.header, main og footer grid*/
.grid-container {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 0;
  display: grid;
  grid-template-rows: 38vw auto auto;
  grid-template-areas: "header" "main" "footer";
}

/*6.1.header*/
header {
  grid-area: header;
  background-image: url(../Img/dogs_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*6.2.main*/
main {
  grid-area: main;
}

.sec-col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5vw 16vw;
  flex-direction: column;
}
.sec-col-1 * {
  max-width: 68VW;
}
.sec-col-1 div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 5vw 16vw;
  flex-direction: column;
}
.sec-col-1 div a {
  background-color: #5B2E10;
  color: #fff;
  font-family: "armata";
  font-size: 2vw;
  padding: 2vw 2vw;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  border-right: none;
  border-top: none;
  border-radius: 0 0 0 1vw;
}
.sec-col-1 div a:hover {
  text-transform: uppercase;
}
.sec-col-1 div a i {
  padding: 0 6vw 0 2vw;
}

.sec-img img {
  width: 100vw;
  height: auto;
}

.sec-col-1-alt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5vw 16vw;
  flex-direction: column;
}
.sec-col-1-alt button:first-of-type {
  margin-top: 0 !important;
}
.sec-col-1-alt button {
  margin-top: 5vw;
  margin-left: 3vw;
}
.sec-col-1-alt .picker-container {
  background-color: white;
}

.collapsible {
  background-color: #5B2E10;
  color: #fff;
  font-family: "armata";
  font-size: 2vw;
  padding: 2vw 2vw;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  border-right: none;
  border-top: none;
  border-radius: 0 0 0 1vw;
  width: 90%;
  text-align: left;
  border-radius: 1vw 1vw 0 0 !important;
  border: none !important;
}
.collapsible:hover {
  text-transform: uppercase;
}
.collapsible i {
  padding: 0 6vw 0 2vw;
}

.collapsible:after {
  content: "+";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-picker:after {
  content: "−";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: right !important;
}

.vet {
  background-image: url(../Img/dog_vet.svg);
}

.training {
  background-image: url(../Img/dog_training.svg);
}

.food {
  background-image: url(../Img/dog_eating.svg);
}

.etiquette {
  background-image: url(../Img/dog_peeing.svg);
}

.dog-lang {
  background-image: url(../Img/dog_howling.svg);
}
.dog-lang h2 {
  margin-left: 0 !important;
}
.dog-lang img {
  margin-top: 63vw;
  width: 100%;
  height: auto;
}

.sec-bg-img {
  background-repeat: no-repeat;
  background-size: 100vw;
}

.no-pad h2 {
  margin-left: 25vw;
}
.no-pad ul {
  margin-top: 65vw;
  padding: 0;
}
.no-pad ul li {
  list-style-type: none;
}
.no-pad ul li p {
  padding-top: 1vw !important;
  padding-bottom: 1vw !important;
}

/*6.3.footer*/
footer {
  grid-area: footer;
  background-color: #5B2E10;
  padding: 3vw 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 5vw 16vw;
}
footer a {
  background-color: #fff;
  color: #000;
  font-family: "armata";
  font-size: 2vw;
  padding: 2vw 2vw;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  border-right: none;
  border-top: none;
  border-radius: 0 0 0 1vw;
}
footer a:hover {
  text-transform: uppercase;
}
footer a i {
  padding: 0 6vw 0 2vw;
}
footer a:hover {
  color: #5B2E10;
}

/*7.mobil responsiv*/
@media only screen and (max-width: 600px) {
  p {
    font-size: 3.5vw;
    line-height: 6vw;
  }
  div.top-bg {
    height: 14vw;
  }
  .burger-nav {
    font-size: 8vw;
  }
  .hidden-nav {
    top: 14vw;
  }
}/*# sourceMappingURL=style.css.map */